<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
         		http://www.springframework.org/schema/beans
         		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
         		http://www.springframework.org/schema/util
         		http://www.springframework.org/schema/util/spring-util-3.2.xsd">

    <import resource="auditoriums.xml"/>

    <bean id="event1" name="event1" class="ua.epam.spring.hometask.domain.Event">
        <property name="name" value="James Bond"/>
        <property name="basePrice" value="#{T(java.lang.Math).random() * 100.0}"/>
        <property name="rating">
            <value type="ua.epam.spring.hometask.domain.EventRating">LOW</value>
        </property>
        <property name="auditoriums" ref="event1Audotoriums"/>
    </bean>
    <bean id="event2" name="event2" class="ua.epam.spring.hometask.domain.Event">
        <property name="name" value="Martian"/>
        <property name="basePrice" value="#{T(java.lang.Math).random() * 100.0}"/>
        <property name="rating">
            <value type="ua.epam.spring.hometask.domain.EventRating">HIGH</value>
        </property>
        <property name="auditoriums" ref="event2Audotoriums"/>
    </bean>

    <util:map id="event1Audotoriums" map-class="java.util.TreeMap" key-type="java.time.LocalDateTime"
              value-type="ua.epam.spring.hometask.domain.Auditorium">
        <entry key="2016-04-25T20:00:00" value-ref="blue-auditorium"/>
        <entry key="2016-04-24T21:00:00" value-ref="blue-auditorium"/>
        <entry key="2016-04-24T21:00:00" value-ref="red-auditorium"/>
    </util:map>

    <util:map id="event2Audotoriums" map-class="java.util.TreeMap" key-type="java.time.LocalDateTime"
              value-type="ua.epam.spring.hometask.domain.Auditorium">
        <entry key="2016-04-25T20:00:00" value-ref="green-auditorium"/>
        <entry key="2016-04-24T21:00:00" value-ref="red-auditorium"/>
        <entry key="2016-04-24T21:00:00" value-ref="blue-auditorium"/>
    </util:map>

    <util:map id="eventMap" value-type="ua.epam.spring.hometask.domain.Event" key-type="java.lang.Long">
        <entry key="0" value-ref="event1"/>
        <entry key="1" value-ref="event2"/>
    </util:map>

    <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="customEditors">
            <map>
                <entry key="java.time.LocalDateTime" value="ua.epam.spring.hometask.CustomLocalDateTimeEditor"/>
            </map>
        </property>
    </bean>

</beans>
